<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AdventureWorks</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="large-icons">
                    <TelerikIcon Icon="home"></TelerikIcon> Home
                </div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/SalesDataGrid" onclick="Sales">
                 <div class="large-icons">
                    <TelerikIcon Icon="ungroup"></TelerikIcon> Sales Department
                </div>
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="/PurchasingDataGrid" onclick="Purchase">
                 <div class="large-icons">
                    <TelerikIcon Icon="ungroup"></TelerikIcon> Purchasing Department
                </div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/PersonDataGrid" onclick="Person">
                 <div class="large-icons">
                    <TelerikIcon Icon="ungroup"></TelerikIcon> Person Data
                </div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductionDataGrid" onclick="Production">
                 <div class="large-icons">
                    <TelerikIcon Icon="ungroup"></TelerikIcon> Production Department
                </div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/HRDataGrid" @onclick="HumanResource">
                 <div class="large-icons">
                    <TelerikIcon Icon="ungroup"></TelerikIcon> HR Department
                </div>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    
    @inject NavigationManager _navigationManager

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Sales()
    {
        _navigationManager.NavigateTo("SalesDataGrid", true);
    }

    private void Purchase()
    {
        _navigationManager.NavigateTo("PurchasingDataGrid", true);
    }

    private void Person()
    {
        _navigationManager.NavigateTo("PersonDataGrid", true);
    }

    private void Production()
    {
        _navigationManager.NavigateTo("ProductionDataGrid", true);
    }

    private void HumanResource()
    {
        _navigationManager.NavigateTo("HRDataGrid", true);
    }
}
